uk.ac.gda.example/src/gda/example/richbean/ExampleExptMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ExampleExpt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="startEnergy" type="xsd:double"
					maxOccurs="1" minOccurs="1" />
				<xsd:element name="finalEnergy" type="xsd:double"
					maxOccurs="1" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
	