uk.ac.gda.example/src/org/myls/scan/SimpleScanParametersMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	 <xsd:element name="SimpleScanParameters">
	 	<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string" maxOccurs="1" minOccurs="1"/>
				<xsd:element name="start" type="xsd:double" maxOccurs="1" minOccurs="1"/>
				<xsd:element name="end" type="xsd:double" maxOccurs="1" minOccurs="1"/>
				<xsd:element name="seconds" type="xsd:integer" maxOccurs="1" minOccurs="1"/>
			</xsd:sequence>	
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
	