uk.ac.gda.server.exafs/src/uk/ac/gda/beans/exafs/i20/I20SampleParametersMapping.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="I20SampleParameters">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="shouldValidate" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="name" type="xsd:string" maxOccurs="1"
					minOccurs="1" />
				<xsd:element name="description" type="xsd:string"
					maxOccurs="unbounded" minOccurs="0" />
				<xsd:element name="sampleWheelPosition" type="xsd:string"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="useSampleWheel" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />

				<xsd:element name="sampleEnvironment" maxOccurs="1"
					minOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="None" />
							<xsd:enumeration value="Room Temperature" />
							<xsd:enumeration value="Cryostat" />
							<!-- <xsd:enumeration value="Furnace" /> -->
							<!-- <xsd:enumeration value="Microreactor" /> -->
							<!-- <xsd:enumeration value="Custom (XYZ)" /> -->
							<!-- <xsd:enumeration value="Custom" /> -->
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

				<xsd:element name="roomTemperature" maxOccurs="1"
					minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="useSample1" type="xsd:boolean"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample1_x" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample1_y" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample1_z" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample1_rotation" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample1_finerotation" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample1_roll" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample1_pitch" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample1_name" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample1_description" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="useSample2" type="xsd:boolean"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample2_x" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_y" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_z" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_rotation" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_finerotation" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample2_roll" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_pitch" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_name" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_description" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="useSample3" type="xsd:boolean"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample3_x" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_y" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_z" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_rotation" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_finerotation" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample3_roll" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_pitch" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_name" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_description" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="useSample4" type="xsd:boolean"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample4_x" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample4_y" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample4_z" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample4_rotation" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample4_finerotation" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="sample4_roll" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample4_pitch" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample4_name" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample4_description" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="cryostat" maxOccurs="1" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="loopChoice" maxOccurs="1"
								minOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="Loop over sample, then temperature" />
										<xsd:enumeration value="Loop over temperature, then sample" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="tolerance" type="xsd:double"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="waitTime" type="xsd:double"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="temperature" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="controlMode" maxOccurs="1"
								minOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="None" />
										<xsd:enumeration value="Manual PID" />
										<xsd:enumeration value="Zone control" />
										<xsd:enumeration value="Open Loop" />
										<xsd:enumeration value="Auto-tune PID" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="heaterRange" maxOccurs="1"
								minOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="4mW" />
										<xsd:enumeration value="40mW" />
										<xsd:enumeration value="400mW" />
										<xsd:enumeration value="4W" />
										<xsd:enumeration value="40W" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="p" type="xsd:double" maxOccurs="1"
								minOccurs="0" />
							<xsd:element name="i" type="xsd:double" maxOccurs="1"
								minOccurs="0" />
							<xsd:element name="d" type="xsd:double" maxOccurs="1"
								minOccurs="0" />
							<xsd:element name="manualOutput" type="xsd:double"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="useSample1" type="xsd:boolean"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="position1" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="finePosition1" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample1_name" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sampleDescription1" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="useSample2" type="xsd:boolean"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="position2" type="xsd:double"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="finePosition2" type="xsd:double"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample2_name" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sampleDescription2" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="useSample3" type="xsd:boolean"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="position3" type="xsd:double"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="finePosition3" type="xsd:double"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sample3_name" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
							<xsd:element name="sampleDescription3" type="xsd:string"
								maxOccurs="1" minOccurs="0" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="furnace" maxOccurs="1" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="temperature" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="tolerance" type="xsd:double"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="time" type="xsd:double" maxOccurs="1"
								minOccurs="1" />
							<xsd:element name="x" type="xsd:string" maxOccurs="1"
								minOccurs="1" />
							<xsd:element name="y" type="xsd:string" maxOccurs="1"
								minOccurs="1" />
							<xsd:element name="z" type="xsd:string" maxOccurs="1"
								minOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="microreactor" maxOccurs="1"
					minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="gas0Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="gas1Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="gas2Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="gas3Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="gas4Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="gas5Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="gas6Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="gas7Rate" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="temperature" type="xsd:integer"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="masses" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="custom_xyz" maxOccurs="unbounded"
					minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="deviceName" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="x" type="xsd:double" maxOccurs="1"
								minOccurs="1" />
							<xsd:element name="y" type="xsd:double" maxOccurs="1"
								minOccurs="1" />
							<xsd:element name="z" type="xsd:double" maxOccurs="1"
								minOccurs="1" />
							<xsd:element name="value" type="xsd:double"
								maxOccurs="1" minOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

				<xsd:element name="custom" maxOccurs="unbounded"
					minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="deviceName" type="xsd:string"
								maxOccurs="1" minOccurs="1" />
							<xsd:element name="value" type="xsd:double"
								maxOccurs="1" minOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="signalType">
		<xsd:sequence>
			<xsd:element name="label" type="xsd:string" maxOccurs="1"
				minOccurs="1" />
			<xsd:element name="name" type="xsd:string" maxOccurs="1"
				minOccurs="0" />
			<xsd:element name="dataFormat" type="xsd:string"
				maxOccurs="1" minOccurs="1" />
			<xsd:element name="expression" type="xsd:string"
				maxOccurs="1" minOccurs="0" />
			<xsd:element name="scannableName" type="xsd:string"
				maxOccurs="1" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="metadataType">
		<xsd:sequence>
			<xsd:element name="scannableName" type="xsd:string" maxOccurs="1"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="I20OutputParameters">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="shouldValidate" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="asciiFileName" type="xsd:string"
					maxOccurs="1" minOccurs="1" />
				<xsd:element name="asciiDirectory" type="xsd:string"
					maxOccurs="1" minOccurs="1" />
				<xsd:element name="nexusDirectory" type="xsd:string"
					maxOccurs="1" minOccurs="1" />
				<xsd:element name="extraData" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="signalActive" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="metadataActive" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="beforeScriptName" type="xsd:string"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="afterScriptName" type="xsd:string"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="signal" type="signalType" maxOccurs="unbounded"
					minOccurs="0" />
				<xsd:element name="metadata" type="metadataType" maxOccurs="unbounded"
					minOccurs="0" />
				<xsd:element name="vortexSaveRawSpectrum" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="xspressOnlyShowFF" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="xspressShowDTRawValues" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
				<xsd:element name="xspressSaveRawSpectrum" type="xsd:boolean"
					maxOccurs="1" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>